.footer {

  padding: 50px 0;

  text-align: center;

  background: #0a0a0a;

  h3 {
    color: var(--gold);
  }
  
  p {
    margin-top: 20px;
    color: #cfcfcf;
  }

  .socials {

    margin-top: 20px;

    display: flex;
    justify-content: center;
    gap: 20px;

    i {

      font-size: 1.5rem;

      cursor: pointer;

      transition: .3s;

      &:hover {
        color: var(--gold);
      }

    }

  }

}