<section
  class="hero"
  id="hero">

  <div class="overlay"></div>

  <div class="container-custom hero-content">

    <br>
    <!-- <span class="badge-premium">
      Experiencias Premium
    </span> -->

    

    <p>
      La Mesa · Cundinamarca · Colombia
    </p>
    
    <h1>
      Una experiencia que despierta los sentidos.
    </h1>

    <div class="hero-buttons">

      <button class="btn-gold">
        Reservar experiencia
      </button>

      <button class="btn-outline-light">
        Ver eventos
      </button>

    </div>

  </div>

</section>