.experiences {

  background: #121212;

  .section-badge {
    display: inline-block;

    margin-bottom: 20px;

    color: var(--gold);
  }

  .section-title {
    color: #fff;
  }

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    align-items: start;
  }

  .experience-card {

    padding: 35px;

    transition: .4s ease;

    i {
      font-size: 2.5rem;
      color: var(--gold);

      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 15px;
      color: #fff;
    }

    p {
      /*color: #cfcfcf;*/
      color: var(--gold);
    }

    &:hover {
      transform: translateY(-10px);
    }

  }

}