<section
  class="events"
  id="events"
  #eventsSection>

  <div class="container-custom">

    <div class="text-center">

      <h2 class="section-title">
        Próximas experiencias
      </h2>

      <p class="mx-auto"  style="color: #696969;">
        Descubre nuestras próximas sesiones
        exclusivas de whiskey premium.
      </p>

    </div>

    <div class="row mt-5">

      <div class="col-lg-4 mb-4">

        <div class="event-card">

          <div class="event-image"></div>

          <div class="event-content">

            <span class="event-date">
              28 JUNIO
            </span>

            <h3>
              Whiskey Escocés Premium
            </h3>

            <p>
              Una experiencia sensorial con
              etiquetas exclusivas.
            </p>

            <div class="event-footer">

              <span>
                8 cupos disponibles
              </span>

              <button class="btn-gold">
                Reservar
              </button>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 mb-4">

        <div class="event-card">

          <div class="event-image image-2"></div>

          <div class="event-content">

            <span class="event-date">
              12 JULIO
            </span>

            <h3>
              Cata Luxury Edition
            </h3>

            <p>
              Una noche elegante para amantes
              del whiskey premium.
            </p>

            <div class="event-footer">

              <span>
                5 cupos disponibles
              </span>

              <button class="btn-gold">
                Reservar
              </button>

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg-4 mb-4">

        <div class="event-card">

          <div class="event-image image-3"></div>

          <div class="event-content">

            <span class="event-date">
              30 JULIO
            </span>

            <h3>
              Single Malt Experience
            </h3>

            <p>
              Cultura, tradición y aromas únicos.
            </p>

            <div class="event-footer">

              <span>
                Últimos cupos
              </span>

              <button class="btn-gold">
                Reservar
              </button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>